
section(class="home__intro", id="intro")
  div(class="home__intro--container")
    div(class="home__intro--wrap")
      h1(class="home__intro--title") CONQUER
      p(class="home__intro--subtitle") Simple Template
