
- let imgRemoveIconNotFound = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";

section(class="home__aboutUs js--aboutUs", id="aboutUs")
  div(class="home__aboutUs--container")
    include ./_home-features.pug
    include ./_home-blog.pug