extends ./_layouts/_base.pug

//- Template variables
block vars
  - var $templateName = 'home'
  - var $templateClass = 'home'

//- Page styles
block append styles
  link(href=`assets/css/conquer-${$templateName}.css`, media='all', rel='stylesheet')/

//- Main Content
block content
  div(class="home__container js--home")
    include ./_partials/home/_home-intro.pug
    include ./_partials/home/_home-about-us.pug
    include ./_partials/home/_home-services.pug

//- Page scripts
block append scripts
  script(src=`assets/js/conquer-${$templateName}.js`)