/**
 * Vendor (Third party libs)
 * Mixins/Functions
 */
/**
 * Settings
 */
/**
* Colors
*/
/**
 * Typography
 */
/**
 * Font Weight
 * Uses by 'font-weight' mixin
 */
/* stylelint-disable-next-line */
/**
 * General Variables
 * Call on every SASS files
 */
/**
 * SASS Rem config
 */
/**
 * Initialize.css config
 */
/**
 * SASS Form Reset
 */
/**
 * iconfont-conquer Webfont
 */
@font-face {
  font-family: 'iconfont-conquer';
  src: url("https://rnunes13.github.io/ConquerTemplate/assets/common/iconfonticonfont-conquer.eot.css");
  src: url("https://rnunes13.github.io/ConquerTemplate/assets/common/iconfonticonfont-conquer.eot.css") format("embedded-opentype"), url("https://rnunes13.github.io/ConquerTemplate/assets/common/iconfonticonfont-conquer.ttf.css") format("truetype"), url("https://rnunes13.github.io/ConquerTemplate/assets/common/iconfonticonfont-conquer.woff2.css") format("woff2"), url("https://rnunes13.github.io/ConquerTemplate/assets/common/iconfonticonfont-conquer.woff.css") format("woff"), url("https://rnunes13.github.io/ConquerTemplate/assets/common/iconfonticonfont-conquer.svg.css") format("svg");
  font-weight: normal;
  font-style: normal; }

.header__menu::before {
  font-family: "iconfont-conquer";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/**
 * Tools
 */
/**
 * Register all z-indexes values
 * Desc order (...5003, 5002, 5001)
 */
/**
 * Z-indexes organization
 * Main file is in: scss/settings/_z-indexes.scss
 */
/**
 * Screen Sizes
 */
/**
 * Breakpoints - Media Queries
 */
/**
* Media Queries
* Mobile first
*/
/**
* Font Weight
*/
/**
* Common Helpers
*/
/**
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
/**
* Custom text selection style
*/
/**
* Custom input placeholders
*/
/**
* Custom default browser scrollbar
*/
/**
* Generate arrow on a pseudo-element
* To set color, use 'border-color' inside a class
*
* @param  {string} $position:     up              Arrow position (up, right, bottom, left)
* @param  {string} $arrow-width:  20px             Arrow Width
* @param  {string} $arrow-size:   $arrow-width/4   Arrow size
*
* @return A CSS Arrow
*/
/**
* @include triangle within a pseudo element and add positioning properties (ie. top, left)
* $direction: up, down, left, right
*/
/**
 * Feature.js mixins
 * http://featurejs.com/
 */
/**
 * Provide a hover effect for non-touch devices, turn it into an Active state for mobile, and maintain a fallback.
 * @requires Modernizr as a JS dependency to get .no-touch classes
 * Adds styles via @content
 *
 * To apply it to a specific class, the mixin must be applied inside that class, like so (since it relies on the & operator):
 * .anchor {
 *     @include touch-hover {
 *         color: purple;
 *     }
 * }
 */
/**
 * Applies transition to element but removes it from the same element on touch devices.
 * Useful for making all pseudo hover effects on mobile instant on click.
 *
 * @requires Modernizr
 */
/**
 * Components
 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 5000; }
  @media only screen and (min-width: 769px) {
    .header {
      height: 75px;
      background-color: #383e4c; } }
  @media only screen and (max-width: 768px) {
    .header {
      height: 50px; } }
  .header__menu {
    padding: 5px 15px;
    padding: 0.3125rem 0.9375rem;
    top: 10px;
    top: 0.625rem;
    right: 10px;
    right: 0.625rem;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 0.3125rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    position: fixed;
    background-color: #383e4c;
    -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 5001; }
    .header__menu::before {
      font-size: 20px;
      font-size: 1.25rem;
      content: '\EA01';
      display: inline-block;
      color: #ffffff; }
    @media only screen and (min-width: 769px) {
      .header__menu {
        display: none; } }
  .header.transparent {
    background-color: transparent; }
    .header.transparent .header__navbar--item {
      border-color: transparent;
      -webkit-border-radius: 0;
      border-radius: 0; }
      @media only screen and (min-width: 769px) {
        .header.transparent .header__navbar--item.is--active, .header.transparent .header__navbar--item:hover {
          border-bottom-color: #ffffff;
          background-color: transparent; } }
      @media only screen and (max-width: 768px) {
        .header.transparent .header__navbar--item.is--active, .header.transparent .header__navbar--item:hover {
          background-color: transparent; }
        .header.transparent .header__navbar--item.is--active .header__navbar--link {
          border-bottom: 1px solid #ffffff; } }
    @media only screen and (max-width: 768px) {
      .header.transparent .header__navbar--link:hover {
        border-bottom: 1px solid #ffffff; } }
    .header.transparent .header__menu {
      background-color: transparent; }

.header__navbar {
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform; }
  @media only screen and (max-width: 768px) {
    .header__navbar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      background-color: #383e4c;
      -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
      transform: translateY(-100%); } }
  .header__navbar--items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    @media only screen and (max-width: 768px) {
      .header__navbar--items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .header__navbar--item {
    margin: 10px;
    margin: 0.625rem;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 0.125rem;
    border-radius: 0.125rem;
    border: 1px solid #646d7c;
    text-align: center;
    -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1); }
    @media only screen and (max-width: 768px) {
      .header__navbar--item {
        border: 1px solid transparent; } }
    @media only screen and (min-width: 769px) {
      .header__navbar--item.is--active, .header__navbar--item:hover {
        background-color: rgba(255, 255, 255, 0.1); } }
    @media only screen and (max-width: 768px) {
      .header__navbar--item.is--active .header__navbar--link {
        border-bottom: 1px solid #ffffff; } }
    @media only screen and (max-width: 768px) {
      .header__navbar--item:not(:first-child) {
        margin-top: 0; } }
  .header__navbar--link {
    min-width: 100px;
    min-width: 6.25rem;
    padding: 10px 15px;
    padding: 0.625rem 0.9375rem;
    font-size: 19px;
    font-size: 1.1875rem;
    display: inline-block;
    color: #ffffff;
    border: 1px solid transparent;
    -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1); }
    @media only screen and (max-width: 768px) {
      .header__navbar--link:hover {
        border-bottom: 1px solid #ffffff; } }
  @media only screen and (max-width: 768px) {
    .header__navbar.is--active {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); } }
  @media only screen and (max-width: 768px) {
    .header__navbar.has--scroll {
      height: 100vh;
      overflow-y: scroll; } }
