
/**
* Colors
*/

$color-white           : #ffffff !default;
$color-white-darken    : #f2f3f2 !default;
$color-black           : #000000 !default;
$color-black-lighten   : #333333 !default;
$color-red             : #822400 !default;
$color-green           : #1a8c00 !default;
$color-blue-lighten    : #646d7c !default;
$color-blue            : #3084c6 !default;
$color-blue-darken     : #49505f !default;
$color-blue-dark       : #383e4c !default;
